@import "../src/assets/styles/Header.css";
@import "../src/assets/styles/Home.css";
@import "../src/assets/styles/About.css";
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  background: rgba(48, 44, 66, 1);
}
